Repository Programmers-3th-Team-Kim/study-room-FE, pull requests merged in 2024-09, with the labels that each got.

#2 [CHORE] 프로젝트 초기 설정
  .eslintrc.cjs
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .prettierrc
  eslint.config.js
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: ⚙ Setting

#3 [CHORE] reset CSS, theme 생성
  package-lock.json
  package.json
  src/App.tsx
  src/apis/.gitkeep
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
  src/components/sidebar/Sidebar.style.ts
  src/components/sidebar/Sidebar.tsx
  src/pages/.gitkeep
  src/router/Router.style.ts
  src/router/Router.tsx
  src/styles/GlobalStyles.ts
  src/styles/styled.d.ts
  src/styles/theme.ts
Labels: ⚙ Setting

#4 [CHORE] react-icons 설치
  package-lock.json
  package.json
Labels: ⚙ Setting

#6 [FIX]: config 파일 수정
  package-lock.json
  package.json
  src/pages/.gitkeep
  tsconfig.json
  vite.config.ts
Labels: 🐞 Fix

#9 [FEAT] 로그인 및 회원가입 페이지 구현
  package-lock.json
  package.json
  src/App.tsx
  src/components/button/Button.style.ts
  src/components/button/Button.tsx
  src/components/input/Input.style.ts
  src/components/input/Input.tsx
  src/components/layout/Layout.style.ts
  src/components/layout/Layout.tsx
  src/main.tsx
  src/pages/login/LoginPage.tsx
  src/pages/register/RegisterPage.tsx
  src/router/Router.tsx
  src/styles/AuthFormStyles.ts
  src/styles/theme.ts
Labels: ✨ Component, 🎨 Style, 📖 Page

#12 [FEAT] 플래너 페이지 '오늘의 계획표' UI 구현
  package-lock.json
  package.json
  src/components/checkBox/CheckBox.style.ts
  src/components/checkBox/CheckBox.tsx
  src/components/datePicker/DatePicker.style.ts
  src/components/datePicker/DatePicker.tsx
  src/components/header/Header.style.ts
  src/components/layout/Layout.style.ts
  src/components/sidebar/Sidebar.style.ts
  src/data/colorMap.ts
  src/pages/planner/Planner.style.ts
  src/pages/planner/Planner.tsx
  src/pages/planner/components/inputForm/InputForm.style.ts
  src/pages/planner/components/inputForm/InputForm.tsx
  src/pages/planner/components/inputForm/RepeatDaySelector.style.ts
  src/pages/planner/components/inputForm/RepeatDaySelector.tsx
  src/pages/planner/components/timeLine/TimeLine.style.ts
  src/pages/planner/components/timeLine/TimeLine.tsx
  src/pages/planner/components/todoBox/TodoBox.style.ts
  src/pages/planner/components/todoBox/TodoBox.tsx
  src/router/Router.tsx
  src/styles/styled.d.ts
  src/styles/theme.ts
  vite.config.ts
Labels: ✨ Component, 🎨 Style, 📖 Page

#11 [FEAT] 스터디방 조회 페이지 UI 구성
  src/components/button/SCreateButton.style.ts
  src/components/button/SCreateButton.tsx
  src/pages/study-room/StudyRooms.style.ts
  src/pages/study-room/StudyRooms.tsx
  src/pages/study-room/components/button/CreateButton.style.ts
  src/pages/study-room/components/button/CreateButton.tsx
  src/pages/study-room/components/filter/CheckBox.style.ts
  src/pages/study-room/components/filter/CheckBox.tsx
  src/pages/study-room/components/filter/SelectBox.style.ts
  src/pages/study-room/components/filter/SelectBox.tsx
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
  src/pages/study-room/components/item/StudyItem.style.ts
  src/pages/study-room/components/item/StudyItem.tsx
  src/pages/study-room/components/search/Search.style.ts
  src/pages/study-room/components/search/Search.tsx
  src/router/Router.tsx
  src/styles/styled.d.ts
  src/styles/theme.ts
Labels: ✨ Component, 🎨 Style, 📖 Page

#18 [FIX] StudyRooms page CheckBox 컴포넌트 경로 수정
  src/pages/study-room/StudyRooms.tsx
  src/pages/study-room/components/filter/CheckBox.style.ts
Labels: 🐞 Fix

#15 [FEAT] 플래너페이지 시간표 구현
  src/components/checkBox/CheckBox.tsx
  src/components/datePicker/DatePicker.tsx
  src/models/todoBox.model.ts
  src/pages/planner/Planner.style.ts
  src/pages/planner/Planner.tsx
  src/pages/planner/components/inputForm/InputForm.tsx
  src/pages/planner/components/inputForm/RepeatDaySelector.style.ts
  src/pages/planner/components/timeLine/TimeLine.style.ts
  src/pages/planner/components/timeTable/TimeTable.style.ts
  src/pages/planner/components/timeTable/TimeTable.tsx
  src/pages/planner/components/todoBox/TodoBox.style.ts
  src/pages/planner/components/todoBox/TodoBox.tsx
Labels: ✨ Component, 🎨 Style, 📖 Page

#20 [FEAT] 우측 사이드바 테마 설정
  src/components/layout/Layout.tsx
  src/components/rsidebar/RSidebar.style.ts
  src/components/rsidebar/RSidebar.tsx
  src/pages/privateStudyRoom/PrivateStudyRoom.tsx
  src/router/Router.tsx
Labels: ✨ Component, 🎨 Style

#24 [FEAT] 스터디룸 RSideBar-할일 구현
  package-lock.json
  package.json
  src/App.tsx
  src/apis/.gitkeep
  src/apis/planners.api.ts
  src/components/checkBox/CheckBox.style.ts
  src/components/checkBox/CheckBox.tsx
  src/components/rsidebar/RSidebar.style.ts
  src/components/rsidebar/RSidebar.tsx
  src/components/rsidebar/chatRoom/ChatRoom.style.ts
  src/components/rsidebar/chatRoom/ChatRoom.tsx
  src/components/rsidebar/todos/Todos.style.ts
  src/components/rsidebar/todos/Todos.tsx
  src/components/rsidebar/utils/dateFormat.ts
  src/models/studyRoomTodos.model.ts
  src/pages/planner/Planner.style.ts
  src/pages/planner/components/todoBox/TodoBox.style.ts
  src/pages/planner/components/todoBox/TodoBox.tsx
  src/stores/studyRoom.store.ts
  src/styles/mixins.ts
  src/styles/theme.ts
Labels: ✨ Component, 🎨 Style, 📖 Page, 📬 API

#23 [FEAT] StudyProfileBox && 타이머 구현
  src/components/button/SCreateButton.style.ts
  src/components/button/SCreateButton.tsx
  src/components/layout/Layout.tsx
  src/components/studyProfileBox/StudyProfileBox.style.ts
  src/components/studyProfileBox/StudyProfileBox.tsx
  src/pages/privateStudyRoom/PrivateStudyRoom.tsx
  src/pages/privateStudyRoom/PrivateStudyRoomStyle.ts
  src/pages/privateStudyRoom/components/button/LeaveButton.tsx
  src/pages/privateStudyRoom/components/button/StartPauseButton.tsx
  src/pages/study-room/StudyRooms.style.ts
  src/pages/study-room/StudyRooms.tsx
  src/pages/study-room/components/button/CreateButton.style.ts
  src/pages/study-room/components/button/CreateButton.tsx
  src/pages/study-room/components/filter/CheckBox.style.ts
  src/pages/study-room/components/filter/CheckBox.tsx
  src/pages/study-room/components/filter/SelectBox.style.ts
  src/pages/study-room/components/filter/SelectBox.tsx
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
  src/pages/study-room/components/item/StudyItem.style.ts
  src/pages/study-room/components/item/StudyItem.tsx
  src/pages/study-room/components/search/Search.style.ts
  src/pages/study-room/components/search/Search.tsx
  src/router/Router.tsx
Labels: ✨ Component, 🎨 Style, 📖 Page

#26 [FEAT] 헤더, 사이드바, 프로필 페이지 구현
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
  src/components/layout/Layout.style.ts
  src/components/layout/Layout.tsx
  src/components/sidebar/Sidebar.style.ts
  src/components/sidebar/Sidebar.tsx
  src/pages/profile/ProfilePage.style.ts
  src/pages/profile/ProfilePage.tsx
  src/pages/profile/components/BasicInfo.tsx
  src/pages/profile/components/MyProfile.tsx
  src/router/Router.tsx
Labels: ✨ Component, 🎨 Style, 📖 Page

#29 [FEAT] 프로필 컴포넌트 생성
  src/components/layout/Layout.tsx
  src/components/studyProfileBox/StudyProfileBox.tsx
  src/components/studyProfileBox/imagebox/ProfileImageBox.style.ts
  src/components/studyProfileBox/imagebox/ProfileImageBox.tsx
  src/components/studyProfileBox/imagebox/defaultImage.png
  src/pages/privateStudyRoom/PrivateStudyRoom.tsx
Labels: ✨ Component, 🎨 Style

#33 [FEAT] 스터디방 조회 페이지 API 연동
  package-lock.json
  src/pages/study-room/StudyRooms.style.ts
  src/pages/study-room/StudyRooms.tsx
  src/pages/study-room/components/filter/CheckBox.tsx
  src/pages/study-room/components/filter/SelectBox.tsx
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
  src/pages/study-room/components/item/StudyItem.style.ts
  src/pages/study-room/components/item/StudyItem.tsx
  src/pages/study-room/components/search/Search.tsx
Labels: 🔨 Refactor, ✨ Component, 🎨 Style, 📬 API

#25 [FEAT] RSidebar 채팅UI 구현
  src/components/rsidebar/chatRoom/ChatRoom.style.ts
  src/components/rsidebar/chatRoom/ChatRoom.tsx
  src/components/rsidebar/chatRoom/chatting/Chatting.style.ts
  src/components/rsidebar/chatRoom/chatting/Chatting.tsx
  src/components/rsidebar/todos/Todos.tsx
  src/models/chat.model.ts
Labels: ✨ Component, 🎨 Style

#35 [REFACTOR] 공부방 페이지 UI 및 헤더 수정
  src/components/button/SCreateButton.style.ts
  src/components/button/SCreateButton.tsx
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
  src/components/layout/Layout.tsx
  src/components/rsidebar/RSidebar.style.ts
  src/components/rsidebar/todos/Todos.style.ts
  src/components/studyProfileBox/StudyProfileBox.style.ts
  src/components/studyProfileBox/StudyProfileBox.tsx
  src/components/studyProfileBox/imagebox/ProfileImageBox.style.ts
  src/components/studyProfileBox/imagebox/ProfileImageBox.tsx
  src/pages/privateStudyRoom/PrivateStudyRoom.tsx
  src/pages/privateStudyRoom/PrivateStudyRoomStyle.ts
  src/pages/privateStudyRoom/components/button/LeaveButton.tsx
  src/pages/privateStudyRoom/components/button/StartPauseButton.tsx
  src/styles/GlobalStyles.ts
Labels: 🐞 Fix, 🔨 Refactor, 🎨 Style

#39 [REFACTOR] 공부방 조회 페이지 UI
  src/components/button/SCreateButton.style.ts
  src/pages/study-room/StudyRooms.style.ts
  src/pages/study-room/StudyRooms.tsx
  src/pages/study-room/components/button/CreateButton.style.ts
  src/pages/study-room/components/button/CreateButton.tsx
  src/pages/study-room/components/filter/CheckBox.style.ts
  src/pages/study-room/components/filter/SelectBox.style.ts
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
  src/pages/study-room/components/item/StudyItem.style.ts
  src/pages/study-room/components/item/StudyItem.tsx
  src/pages/study-room/components/search/Search.style.ts
Labels: 🐞 Fix, 🔨 Refactor, 🎨 Style

#40 [FEAT] 공부방 생성 모달 구현
  src/apis/studyRooms.api.ts
  src/components/button/Button.style.ts
  src/components/button/SCreateButton.style.ts
  src/components/formInput/FormInput.style.ts
  src/components/formInput/FormInput.tsx
  src/components/modal/Modal.style.ts
  src/components/modal/Modal.tsx
  src/pages/study-room/StudyRooms.tsx
  src/pages/study-room/components/button/CreateButton.style.ts
  src/pages/study-room/components/button/CreateButton.tsx
  src/pages/study-room/components/form/CreateStudyRoomForm.style.ts
  src/pages/study-room/components/form/CreateStudyRoomForm.tsx
  src/pages/study-room/components/imageUpload/ImageUpload.style.ts
  src/pages/study-room/components/imageUpload/ImageUpload.tsx
  src/pages/study-room/components/radio/Radio.style.ts
  src/pages/study-room/components/radio/Radio.tsx
  src/pages/study-room/components/tagInput/TagInput.style.ts
  src/pages/study-room/components/tagInput/TagInput.tsx
  src/pages/study-room/components/toggleButton/ToggleButton.style.ts
  src/pages/study-room/components/toggleButton/ToggleButton.tsx
  src/stores/auth.store.ts
  src/types/createStudyRoom.ts
Labels: ✨ Component, 🎨 Style, 📬 API

#41 [HOTFIX] maxNum 데이터 타입 변환
  src/pages/study-room/components/form/CreateStudyRoomForm.tsx
Labels: 🐞 Fix
