Repository Programmers-3th-Team-Kim/study-room-FE, pull requests merged in 2024-10, with the labels that each got.

#43 [FIX] 사용자 인증 수정
  package-lock.json
  package.json
  src/App.tsx
  src/apis/auth.api.ts
  src/apis/axiosInstance.api.ts
  src/components/header/Header.tsx
  src/hooks/useRestoreUser.ts
  src/pages/login/LoginPage.tsx
  src/stores/auth.store.ts
  src/stores/index.ts
  src/stores/user.store.ts
  src/utils/cookie.ts
Labels: 🐞 Fix, 🔨 Refactor, 📬 API

#42 [FEAT] 플래너페이지 CRUD API 연결
  src/apis/apiRoutes.ts
  src/apis/planners.api.ts
  src/components/checkBox/CheckBox.tsx
  src/components/datePicker/DatePicker.tsx
  src/models/studyRoomTodos.model.ts
  src/models/todoBox.model.ts
  src/pages/planner/Planner.style.ts
  src/pages/planner/Planner.tsx
  src/pages/planner/components/inputForm/InputForm.style.ts
  src/pages/planner/components/inputForm/InputForm.tsx
  src/pages/planner/components/inputForm/RepeatDaySelector.style.ts
  src/pages/planner/components/inputForm/RepeatDaySelector.tsx
  src/pages/planner/components/timeTable/TimeTable.style.ts
  src/pages/planner/components/timeTable/TimeTable.tsx
  src/pages/planner/components/todoBox/TodoBox.style.ts
  src/pages/planner/components/todoBox/TodoBox.tsx
Labels: 🔨 Refactor, ✨ Component, 📬 API

#48 [REFACTOR] 사용자 관련 API 추가 및 개선
  package-lock.json
  package.json
  src/App.tsx
  src/apis/apiRoutes.ts
  src/apis/auth.api.ts
  src/apis/axiosInstance.api.ts
  src/apis/studyRooms.api.ts
  src/apis/users.api.ts
  src/components/header/Header.tsx
  src/components/toast/Toast.tsx
  src/hooks/useDebounce.ts
  src/pages/login/LoginPage.tsx
  src/pages/profile/ProfilePage.style.ts
  src/pages/profile/ProfilePage.tsx
  src/pages/profile/components/BasicInfo.tsx
  src/pages/profile/components/MyProfile.tsx
  src/pages/signUp/SignUpPage.tsx
  src/pages/study-room/components/form/CreateStudyRoomForm.tsx
  src/types/auth.ts
  src/types/updateProfile.ts
  src/utils/checkFieldDuplicate.ts
Labels: 🔨 Refactor, 📬 API

#50 [REFACTOR] 공부방 페이지 UI, 공부방 입장 API
  package-lock.json
  package.json
  src/components/button/SCreateButton.style.ts
  src/components/layout/Layout.tsx
  src/pages/study-room/StudyRooms.style.ts
  src/pages/study-room/StudyRooms.tsx
  src/pages/study-room/components/button/CreateButton.tsx
  src/pages/study-room/components/filter/CheckBox.style.ts
  src/pages/study-room/components/filter/CheckBox.tsx
  src/pages/study-room/components/filter/SelectBox.style.ts
  src/pages/study-room/components/filter/SelectBox.tsx
  src/pages/study-room/components/form/CreateStudyRoomForm.tsx
  src/pages/study-room/components/form/PasswordInput.style.ts
  src/pages/study-room/components/form/PasswordInput.tsx
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
  src/pages/study-room/components/item/StudyItem.style.ts
  src/pages/study-room/components/item/StudyItem.tsx
  src/pages/study-room/components/search/Search.style.ts
  src/pages/study-room/components/search/Search.tsx
  src/router/Router.tsx
  src/types/studyRoom.ts
Labels: 🔨 Refactor, ✨ Component, 🎨 Style, 📬 API

#53 [FEAT] 랭킹페이지 UI 구현
  src/components/layout/Layout.tsx
  src/pages/ranking/Ranking.style.ts
  src/pages/ranking/Ranking.tsx
  src/pages/ranking/components/RankingBoard.style.ts
  src/pages/ranking/components/RankingBoard.tsx
  src/router/Router.tsx
  src/types/ranking.ts
Labels: ✨ Component, 🎨 Style, 📖 Page

#54 [FIX] 공부방 생성시 방 이동
  src/pages/study-room/components/form/CreateStudyRoomForm.tsx
Labels: 🐞 Fix

#57 [FEAT] 비공개 스터디룸 입장 비밀번호 UI 및 검색 결과 없을 경우 UI
  src/pages/study-room/components/form/PasswordInput.style.ts
  src/pages/study-room/components/form/PasswordInput.tsx
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
Labels: 🔨 Refactor, ✨ Component, 🎨 Style

#59 [FEAT] 헤더에 사용자 프로필 이미지 표시
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
  src/stores/auth.store.ts
Labels: ✨ Component, 🎨 Style

#58 [FEAT] 공부방 조회 페이지 무한스크롤 구현
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
  src/router/Router.tsx
  src/types/studyRoom.ts
Labels: 🐞 Fix, ✨ Component

#61 [FIX] 비로그인 상태 처리
  src/apis/axiosInstance.api.ts
  src/components/header/Header.style.ts
  src/stores/auth.store.ts
Labels: 🐞 Fix

#64 [FEAT] 플래너페이지 총시간 API, 랭킹페이지 API 연동
  src/apis/apiRoutes.ts
  src/apis/planners.api.ts
  src/apis/ranking.api.ts
  src/components/datePicker/DatePicker.tsx
  src/components/loader/Loader.style.ts
  src/components/loader/Loader.tsx
  src/models/studyRoomTodos.model.ts
  src/pages/planner/Planner.style.ts
  src/pages/planner/Planner.tsx
  src/pages/planner/components/inputForm/InputForm.style.ts
  src/pages/planner/components/inputForm/InputForm.tsx
  src/pages/planner/components/todoBox/TodoBox.style.ts
  src/pages/planner/components/todoBox/TodoBox.tsx
  src/pages/ranking/Ranking.tsx
  src/pages/ranking/components/RankingBoard.style.ts
  src/pages/ranking/components/RankingBoard.tsx
  src/styles/GlobalStyles.ts
  src/types/ranking.ts
Labels: 🐞 Fix, 🔨 Refactor, 📬 API

#66 [FIX] 랭킹페이지 UI 수정
  src/components/sidebar/Sidebar.style.ts
  src/pages/ranking/Ranking.style.ts
  src/pages/ranking/Ranking.tsx
  src/pages/ranking/components/RankingBoard.style.ts
  src/pages/ranking/components/RankingBoard.tsx
Labels: 🐞 Fix, 🎨 Style

#70 [FIX] 드롭다운 버그 해결 및 이미지 서버 연동
  src/apis/apiRoutes.ts
  src/apis/image.api.ts
  src/apis/users.api.ts
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
  src/pages/profile/components/MyProfile.tsx
  src/pages/study-room/components/imageUpload/ImageUpload.tsx
  src/stores/auth.store.ts
Labels: 🐞 Fix, 📬 API

#71 [REFACTOR] 스터디룸 조회 Loading 스타일 및 HomeTodo reactquery 변경
  src/pages/home/components/my/todo/HomeTodo.tsx
  src/pages/study-room/components/item/StudyGrid.style.ts
  src/pages/study-room/components/item/StudyGrid.tsx
Labels: 🐞 Fix, 🔨 Refactor

#73 [fix] #pr45 버그 수정
  src/components/rsidebar/RSidebar.tsx
  src/pages/multiStudyRoom/component/StudyRoomNotice.tsx
  src/pages/multiStudyRoom/multiStudyRoomContent/MultiStudyRoomContent.tsx
Labels: 🐞 Fix

#67 [FEAT] 통계 페이지 구현
  package-lock.json
  package.json
  src/apis/statistics.api.ts
  src/components/layout/Layout.tsx
  src/components/sidebar/Sidebar.tsx
  src/pages/home/components/my/statistics/HomeStatistics.tsx
  src/pages/home/components/my/statistics/MyTinyBarChart.tsx
  src/pages/statistics/all/AllStatisticsPage.style.ts
  src/pages/statistics/all/AllStatisticsPage.tsx
  src/pages/statistics/all/components/myLineChart/MyLineChart.style.ts
  src/pages/statistics/all/components/myLineChart/MyLineChart.tsx
  src/pages/statistics/my/MyStatisticsPage.style.ts
  src/pages/statistics/my/MyStatisticsPage.tsx
  src/pages/statistics/my/components/myBarChart/MyBarChart.style.ts
  src/pages/statistics/my/components/myBarChart/MyBarChart.tsx
  src/pages/statistics/my/components/myCalendar/MyCalendar.style.ts
  src/pages/statistics/my/components/myCalendar/MyCalendar.tsx
  src/pages/statistics/my/components/myPieChart/MyPieChart.style.ts
  src/pages/statistics/my/components/myPieChart/MyPieChart.tsx
  src/router/Router.tsx
  src/utils/formatTime.ts
  tsconfig.json
Labels: ✨ Component, 🎨 Style, 📖 Page, 📬 API

#77 [FEAT] favicon추가, header logo추가
  index.html
  public/favicon.png
  public/logoImg.png
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
  src/components/layout/Layout.tsx
Labels: 🎨 Style

#80 [REFACTOR] 타입 설정
  package-lock.json
  package.json
  src/models/studyRoom.model.ts
  src/models/studyRoomTodos.model.ts
  src/pages/multiStudyRoom/component/StudyRoomNotice.tsx
  src/pages/multiStudyRoom/multiStudyRoomContent/MultiStudyRoomContent.tsx
  src/pages/study-room/components/form/CreateStudyRoomForm.tsx
  src/socket/SocketContext.tsx
  src/types/updateStudyRoom.ts
Labels: 🔨 Refactor

#84 [REFACTOR] 공부방 페이지 공지 스타일 수정
  package-lock.json
  package.json
  src/components/rsidebar/RSidebar.style.ts
  src/components/rsidebar/chatRoom/chatting/Chatting.style.ts
  src/components/rsidebar/chatRoom/chatting/Chatting.tsx
  src/pages/multiStudyRoom/MultiStudyRoom.style.ts
  src/pages/multiStudyRoom/MultiStudyRoom.tsx
  src/pages/multiStudyRoom/component/StudyRoomNotice.style.ts
  src/pages/multiStudyRoom/component/StudyRoomNotice.tsx
  src/pages/multiStudyRoom/multiStudyRoomContent/MultiStudyRoomContent.style.ts
  src/pages/multiStudyRoom/multiStudyRoomContent/MultiStudyRoomContent.tsx
  src/pages/study-room/components/tagInput/TagInput.tsx
Labels: 🐞 Fix, 🔨 Refactor, 🎨 Style

#85 [FIX] 공지사항 style 수정
  src/pages/multiStudyRoom/component/StudyRoomNotice.style.ts
  src/pages/multiStudyRoom/multiStudyRoomContent/MultiStudyRoomContent.style.ts
Labels: 🐞 Fix, 🎨 Style

#90 [FIX] 비로그인시 홈에서 보이는 StudyRoom 스타일 수정
  src/pages/home/components/home-studyrooms/item/HomeStudyItem.style.ts
Labels: 🐞 Fix, 🎨 Style

#91 [FIX] 스터디룸 UI, 방장
  src/pages/multiStudyRoom/multiStudyRoomContent/MultiStudyRoomContent.style.ts
  src/pages/multiStudyRoom/multiStudyRoomContent/MultiStudyRoomContent.tsx
Labels: 🐞 Fix

#92 [FIX] 가로 스크롤 조정
  src/pages/statistics/all/AllStatisticsPage.style.ts
  src/pages/statistics/all/components/myLineChart/MyLineChart.style.ts
  src/pages/statistics/all/components/myLineChart/MyLineChart.tsx
  src/pages/study-room/components/item/StudyItem.style.ts
Labels: 🐞 Fix, 🎨 Style
